/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/


/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 80px;
/*  background-color: #fff;
  background-image: url(../img/grid-18px-masked.png);*/
  background-repeat: repeat-x;
  background-position: 0 40px;
  font: small verdana,arial,helvetica,sans-serif;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
.subnav {
  margin-bottom: 60px;
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

.bsa {
  float: right;
  max-width: 400px;
  padding: 0;
}

body .one .bsa_it_ad {
  margin-bottom: -10px;
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
}

body .one .bsa_it_ad .bsa_it_t,
body .one .bsa_it_ad .bsa_it_d {
  color: inherit;
  font-size: inherit;
}

body .one .bsa_it_p {
  display: none;
}

#bsap_aplink {
  float: right;
  position: relative;
  /*top: -25px;*/
  right: 10px;
  height: 0;
  font-size: 11px;
}

@media (max-width: 768px) {

  .bsa {
    float: none;
  }

}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }

  /* Adjust the jumbotron */
  .jumbotron h1,
  .jumbotron p {
    text-align: center;
    margin-right: 0;
  }
  .jumbotron h1 {
    font-size: 45px;
    margin-right: 0;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .jumbotron .btn {
    display: block;
    font-size: 18px;
    padding: 10px 14px;
    margin: 0 auto 10px;
  }

}


@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Jumbotron buttons */
  .jumbotron .btn {
    margin-bottom: 10px;
  }

  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }
}


@media (min-width: 480px) and (max-width: 768px) {

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 54px;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
  }
}


@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 72px;
  }
}


@media (max-width: 980px) {

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}

li .active > a {
    background-color: #DD4814;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
	display: none;
}

.tac {text-align: center;word-wrap: break-word;max-width:160px;max-height:140px;width: auto!important;}

.footer {
padding: 70px 0;
margin-top: 70px;
border-top: 1px solid #E5E5E5;
}

.bold {
   margin:0 20px 0 0;
   padding-top: 10px;
}
.separator{
   height: 10px;
   padding: 0;
   margin: 0 0 10px 0;
   border-bottom: solid 1px #F5F5F5;
}

table td{
word-wrap: break-word;
}

table.info {
   margin-left: 10px;
}

table.info td {
   padding-bottom: 4px;
}

.greyinfo{
   color: #999999;
   vertical-align: top;
   padding-right: 5px;
}
.left-space {
   margin-left: 20px;
}
.right-space {
   margin-right: 20px;
}

.sportlabel {
   background: #F2F2F2;
   padding: 4px;
   margin-right: 10px;
   border:0px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   font-weight: bold;
}
#view-locatie-map {
   display:none;
   width: 700px;
   height: 500px;
   border: 1px solid black;
}

.section-title h1{
   font-size: 25px;
   margin-left: 14px;
}

.section address {
   margin-bottom: 0px;
}

.section-container {
   background: #FbFbFb;
   border: 1px solid #c3c3c3;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
}


.section {
   clear: both;
   padding: 10px;
   margin: 10px;
   background: white;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   border: 1px solid #d0d0d0;
   position: relative;
}

.section .section-heading h4 {
   margin: 3px 0!important;
}

.section .section-heading {
   padding: 5px 15px;
   margin: -10px -10px 10px;
   background: #e5e5e5;
   background: -webkit-gradient(linear,center top,center bottom,from(#f6f6f6),to(#e5e5e5));
   background: -moz-linear-gradient(top,#f6f6f6,#e5e5e5);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6',endColorstr='#ffe5e5e5',GradientType=0);
   -moz-border-radius-topright: 6px;
   -webkit-border-top-right-radius: 6px;
   border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   -webkit-border-top-left-radius: 6px;
   border-top-left-radius: 6px;
   border-top: 1px solid white;
   border-bottom: 1px solid #d0d0d0;
   -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2),0 0 0 #000;
   box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2),0 0 0 #000;
}

h1 {
  font-size: 24px;
}
.bhidden {
  display: none;
}
.faded {
color: #888888;
font-size: 0.8em;
}
.comment-body p {
   margin:0;
}
.comment-child {
border-left: 1px dotted #DDDDFF;
margin-left: 30px;
margin-top: 10px;
padding-left: 5px;
}
.comment-entry {
margin-top: 10px;
}
.comment-header {
  font: x-small verdana,arial,helvetica,sans-serif;
}
.tc {
   text-align: center;
}
.ui-state-active{
   border: 1px solid blue;
}

.smallseparator{
   height: 2px;
   padding: 0;
   margin: 0 0 5px 0;
   border-bottom: solid 1px #F5F5F5;
}
.label-error {
background-color: #d9534f;
}

.w400 {
  margin-top: 10px; width:400px; height:100px;
}
.voffset1 {
   margin-top: 5px;
}